<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Indicador-PIB" data-toc-modified-id="Indicador-PIB-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Indicador PIB</a></span></li><li><span><a href="#PIB-a-precios-corrientes" data-toc-modified-id="PIB-a-precios-corrientes-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>PIB a precios corrientes</a></span></li><li><span><a href="#Deuda-externa" data-toc-modified-id="Deuda-externa-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Deuda externa</a></span></li><li><span><a href="#IPC" data-toc-modified-id="IPC-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>IPC</a></span></li><li><span><a href="#Desempleo" data-toc-modified-id="Desempleo-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Desempleo</a></span></li><li><span><a href="#IDH" data-toc-modified-id="IDH-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>IDH</a></span></li><li><span><a href="#tabla-paises" data-toc-modified-id="tabla-paises-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>tabla paises</a></span></li><li><span><a href="#tabla-years" data-toc-modified-id="tabla-years-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>tabla years</a></span></li><li><span><a href="#tabla-gobernantes" data-toc-modified-id="tabla-gobernantes-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>tabla gobernantes</a></span></li><li><span><a href="#tabla-indicadores" data-toc-modified-id="tabla-indicadores-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>tabla indicadores</a></span></li><li><span><a href="#tabla-descripcion-indicadores" data-toc-modified-id="tabla-descripcion-indicadores-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>tabla descripcion indicadores</a></span></li><li><span><a href="#tabla-paises-años" data-toc-modified-id="tabla-paises-años-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>tabla paises-años</a></span></li><li><span><a href="#TABLA-RANKINGS" data-toc-modified-id="TABLA-RANKINGS-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>TABLA RANKINGS</a></span></li><li><span><a href="#Tabla-historia-económica" data-toc-modified-id="Tabla-historia-económica-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Tabla historia económica</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
import json

In [2]:
engine = create_engine('postgresql://bmzmygba:zC7NCwT3if_LUUsi3_ucCUs5diTwXXys@tai.db.elephantsql.com/bmzmygba')

## Indicador PIB

In [54]:
df_values=pd.DataFrame(pd.read_json('./data/1_PIB/Crecimiento_PIB_desde_1990_CEPALSTAT.json').body.data)

In [56]:
df_paises=pd.DataFrame(pd.read_json('./data/1_PIB/Crecimiento_PIB_desde_1990_CEPALSTAT.json').body.dimensions[0]['members'])

In [57]:
df_años=pd.DataFrame(pd.read_json('./data/1_PIB/Crecimiento_PIB_desde_1990_CEPALSTAT.json').body.dimensions[1]['members'])

In [58]:
df_años.head()

   name     id  in  order  parent  selected
0  1990  29160   1   1990   29117         1
1  1991  29161   1   1991   29117         1
2  1992  29162   1   1992   29117         1
3  1993  29163   1   1993   29117         1
4  1994  29164   1   1994   29117         1

In [55]:
df_values

                  value  source_id notes_ids iso3  dim_208  dim_29117
0      5.32693841920573       1753            CHL      224      29170
1      3.30304731251057       1753            CHL      224      29171
2      3.10697053227984       1753            CHL      224      29172
3      4.09104768464241       1753            CHL      224      29173
4       7.2095397094613       1753            CHL      224      29174
..                  ...        ...       ...  ...      ...        ...
179    10.6275772210664       1753            CHL      224      29165
180     7.4135062267753       1753            CHL      224      29166
181    7.42788980792199       1753            CHL      224      29167
182    4.32457949689151       1753            CHL      224      29168
183  -0.412096167136655       1753            CHL      224      29169

[184 rows x 6 columns]

In [59]:
df_source=pd.DataFrame(pd.read_json('./data/1_PIB/Crecimiento_PIB_desde_1990_CEPALSTAT.json').body.sources)

In [60]:
df_source=df_source.astype({'id':'object'})
df_source

,id,description,publication_url,organization_acronym,organization_name,organization_url
0,1753,Estimaciones propias con base en fuentes ofici...,,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.cepal.org

In [61]:
df_paises

                                   name   id  in  order  parent  selected
0                             Argentina  216   1     40     208         1
1                                Brasil  222   1    100     208         1
2                                 Chile  224   1    110     208         1
3                              Paraguay  242   1    300     208         1
4                                  Perú  244   1    310     208         1
5  Venezuela (República Bolivariana de)  259   1    400     208         1

In [62]:
df_indicador_gdp=pd.DataFrame(pd.read_json('./data/1_PIB/Crecimiento_PIB_desde_1990_CEPALSTAT.json').body.metadata, index=[0])

In [63]:
df_indicador_gdp.at[0,'indicator_name']

'Tasa de crecimiento del producto interno bruto (PIB) total anual a precios constantes'

In [64]:
df_gdp_raw=((df_values.merge(df_paises,left_on='dim_208',right_on='id')).merge(df_años,left_on='dim_29117',right_on='id')).merge(df_source,left_on='source_id',right_on='id')
df_gdp_raw['indicador_id']=df_indicador_gdp.at[0,'indicator_id']
df_gdp_raw['indicador_desc']=df_indicador_gdp.at[0,'indicator_name']

In [65]:
df_gdp_raw.columns

Index(['value', 'source_id', 'notes_ids', 'iso3', 'dim_208', 'dim_29117',
       'name_x', 'id_x', 'in_x', 'order_x', 'parent_x', 'selected_x', 'name_y',
       'id_y', 'in_y', 'order_y', 'parent_y', 'selected_y', 'id',
       'description', 'publication_url', 'organization_acronym',
       'organization_name', 'organization_url', 'indicador_id',
       'indicador_desc'],
      dtype='object')

In [66]:
df_gdp_raw.rename(columns={'iso3':'Pais_abr', 'name_x':'Pais', 'name_y':'Año', 'value':'valor','organization_acronym':'fuente'},inplace='True')
df_gdp1=df_gdp_raw[['Pais_abr','Pais','Año','indicador_id','indicador_desc','valor','fuente']]

In [67]:
#df_gdp1['id1']=df_gdp1['Pais_abr']+'_'+df_gdp1['Año']
df_gdp1

,Pais_abr,Pais,Año,indicador_id,indicador_desc,valor,fuente
0,CHL,Chile,2000,2207,Tasa de crecimiento del producto interno bruto...,5.32693841920573,CEPAL
1,PRY,Paraguay,2000,2207,Tasa de crecimiento del producto interno bruto...,-2.31414056822885,CEPAL
2,VEN,Venezuela (República Bolivariana de),2000,2207,Tasa de crecimiento del producto interno bruto...,3.686944167,CEPAL
3,ARG,Argentina,2000,2207,Tasa de crecimiento del producto interno bruto...,-0.788998922157391,CEPAL
4,PER,Perú,2000,2207,Tasa de crecimiento del producto interno bruto...,2.6943713980691,CEPAL
...,...,...,...,...,...,...,...
179,PRY,Paraguay,1999,2207,Tasa de crecimiento del producto interno bruto...,-1.36607971238645,CEPAL
180,VEN,Venezuela (República Bolivariana de),1999,2207,Tasa de crecimiento del producto interno bruto...,-5.970458146,CEPAL
181,ARG,Argentina,1999,2207,Tasa de crecimiento del producto interno bruto...,-3.38545705259294,CEPAL
182,PER,Perú,1999,2207,Tasa de crecimiento del producto interno bruto...,1.49491064308835,CEPAL
183,BRA,Brasil,1999,2207,Tasa de crecimiento del producto interno bruto...,0.254078384207701,CEPAL

In [68]:
df_values_ARG=pd.DataFrame(pd.read_csv('./data/1_PIB/Crecimiento PIB desde 1980_WB/WB-WDI-NY.GDP.MKTP.KD.ZG-AR.csv'))

In [69]:
df_values_ARG.head()

   period  GDP growth (annual %) – Argentina (WB/WDI/NY.GDP.MKTP.KD.ZG-AR)
0    1960                                                NaN
1    1961                                           5.427843
2    1962                                          -0.852022
3    1963                                          -5.308197
4    1964                                          10.130298

In [70]:
df_values_ARG['Pais_abr']='ARG'
df_values_ARG['Pais']='Argentina'
df_values_ARG.rename(columns={'period':'Año','GDP growth (annual %) – Argentina (WB/WDI/NY.GDP.MKTP.KD.ZG-AR)':'valor'},inplace=True)
df_values_ARG['indicador_id']='2207'
df_values_ARG['indicador_desc']='Tasa de crecimiento del producto interno bruto (PIB) total anual a precios constantes'
df_values_ARG['fuente']='WB'

In [71]:
df_values_BRA=pd.DataFrame(pd.read_csv('./data/1_PIB/Crecimiento PIB desde 1980_WB/WB-WDI-NY.GDP.MKTP.KD.ZG-BR.csv'))
df_values_BRA['Pais_abr']='BRA'
df_values_BRA['Pais']='Brasil'
df_values_BRA.rename(columns={'period':'Año','GDP growth (annual %) – Brazil (WB/WDI/NY.GDP.MKTP.KD.ZG-BR)':'valor'},inplace=True)
df_values_BRA['indicador_id']='2207'
df_values_BRA['indicador_desc']='Tasa de crecimiento del producto interno bruto (PIB) total anual a precios constantes'
df_values_BRA['fuente']='WB'

In [72]:
df_values_CHL=pd.DataFrame(pd.read_csv('./data/1_PIB/Crecimiento PIB desde 1980_WB/WB-WDI-NY.GDP.MKTP.KD.ZG-CL.csv'))
df_values_CHL['Pais_abr']='CHL'
df_values_CHL['Pais']='Chile'
df_values_CHL.rename(columns={'period':'Año','GDP growth (annual %) – Chile (WB/WDI/NY.GDP.MKTP.KD.ZG-CL)':'valor'},inplace=True)
df_values_CHL['indicador_id']='2207'
df_values_CHL['indicador_desc']='Tasa de crecimiento del producto interno bruto (PIB) total anual a precios constantes'
df_values_CHL['fuente']='WB'

In [73]:
df_values_PER=pd.DataFrame(pd.read_csv('./data/1_PIB/Crecimiento PIB desde 1980_WB/WB-WDI-NY.GDP.MKTP.KD.ZG-PE.csv'))
df_values_PER['Pais_abr']='PER'
df_values_PER['Pais']='Perú'
df_values_PER.rename(columns={'period':'Año','GDP growth (annual %) – Peru (WB/WDI/NY.GDP.MKTP.KD.ZG-PE)':'valor'},inplace=True)
df_values_PER['indicador_id']='2207'
df_values_PER['indicador_desc']='Tasa de crecimiento del producto interno bruto (PIB) total anual a precios constantes'
df_values_PER['fuente']='WB'

In [74]:
df_values_PRY=pd.DataFrame(pd.read_csv('./data/1_PIB/Crecimiento PIB desde 1980_WB/WB-WDI-NY.GDP.MKTP.KD.ZG-PY.csv'))
df_values_PRY['Pais_abr']='PRY'
df_values_PRY['Pais']='Paraguay'
df_values_PRY.rename(columns={'period':'Año','GDP growth (annual %) – Paraguay (WB/WDI/NY.GDP.MKTP.KD.ZG-PY)':'valor'},inplace=True)
df_values_PRY['indicador_id']='2207'
df_values_PRY['indicador_desc']='Tasa de crecimiento del producto interno bruto (PIB) total anual a precios constantes'
df_values_PRY['fuente']='WB'

In [75]:
df_values_VEN=pd.DataFrame(pd.read_csv('./data/1_PIB/Crecimiento PIB desde 1980_WB/WB-WDI-NY.GDP.MKTP.KD.ZG-VE.csv'))
df_values_VEN['Pais_abr']='VEN'
df_values_VEN['Pais']='Venezuela (República Bolivariana de)'
df_values_VEN.rename(columns={'period':'Año','GDP growth (annual %) – Venezuela, RB (WB/WDI/NY.GDP.MKTP.KD.ZG-VE)':'valor'},inplace=True)
df_values_VEN['indicador_id']='2207'
df_values_VEN['indicador_desc']='Tasa de crecimiento del producto interno bruto (PIB) total anual a precios constantes'
df_values_VEN['fuente']='WB'

In [76]:
frames=[df_values_ARG, df_values_BRA, df_values_CHL, df_values_PER, df_values_PRY, df_values_VEN]
df_gdp2=pd.concat(frames)

In [77]:
df_gdp2

,Año,valor,Pais_abr,Pais,indicador_id,indicador_desc,fuente
0,1960,NaN,ARG,Argentina,2207,Tasa de crecimiento del producto interno bruto...,WB
1,1961,5.427843,ARG,Argentina,2207,Tasa de crecimiento del producto interno bruto...,WB
2,1962,-0.852022,ARG,Argentina,2207,Tasa de crecimiento del producto interno bruto...,WB
3,1963,-5.308197,ARG,Argentina,2207,Tasa de crecimiento del producto interno bruto...,WB
4,1964,10.130298,ARG,Argentina,2207,Tasa de crecimiento del producto interno bruto...,WB
...,...,...,...,...,...,...,...
56,2016,NaN,VEN,Venezuela (República Bolivariana de),2207,Tasa de crecimiento del producto interno bruto...,WB
57,2017,NaN,VEN,Venezuela (República Bolivariana de),2207,Tasa de crecimiento del producto interno bruto...,WB
58,2018,NaN,VEN,Venezuela (República Bolivariana de),2207,Tasa de crecimiento del producto interno bruto...,WB
59,2019,NaN,VEN,Venezuela (República Bolivariana de),2207,Tasa de crecimiento del producto interno bruto...,WB
60,2020,NaN,VEN,Venezuela (República Bolivariana de),2207,Tasa de crecimiento del producto interno bruto...,WB

In [82]:
#df_gdp2['Año']=df_gdp2['Año'].apply('str')
#df_gdp2.dtypes
df_gdp2['Año']=df_gdp2['Año'].astype(str)

In [83]:
df_gdp=pd.concat([df_gdp1, df_gdp2])

In [84]:
x=pd.merge(df_gdp1,df_gdp2,how='right',left_on=['Pais_abr','Año'], right_on = ['Pais_abr','Año'])

In [85]:
y=x[x['Pais_x'].isna()]

In [86]:
df_gdp3=y[['Pais_abr','Año','valor_y','Pais_y','indicador_id_y','indicador_desc_y','fuente_y']]

In [87]:
df_gdp3.rename(columns={'valor_y':'valor','Pais_y':'Pais','indicador_id_y':'indicador_id','indicador_desc_y':'indicador_desc','fuente_y':'fuente'},inplace=True)

C:\Users\carlo\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [88]:
df_gdp=pd.concat([df_gdp1, df_gdp3])

In [89]:
df_gdp=df_gdp.dropna()
#df_gdp=df_gdp.merge(df_source, left_on='indicador_id', right_on='id')
df_gdp

,Pais_abr,Pais,Año,indicador_id,indicador_desc,valor,fuente
0,CHL,Chile,2000,2207,Tasa de crecimiento del producto interno bruto...,5.32693841920573,CEPAL
1,PRY,Paraguay,2000,2207,Tasa de crecimiento del producto interno bruto...,-2.31414056822885,CEPAL
2,VEN,Venezuela (República Bolivariana de),2000,2207,Tasa de crecimiento del producto interno bruto...,3.686944167,CEPAL
3,ARG,Argentina,2000,2207,Tasa de crecimiento del producto interno bruto...,-0.788998922157391,CEPAL
4,PER,Perú,2000,2207,Tasa de crecimiento del producto interno bruto...,2.6943713980691,CEPAL
...,...,...,...,...,...,...,...
330,VEN,Venezuela (República Bolivariana de),1985,2207,Tasa de crecimiento del producto interno bruto...,0.1933,WB
331,VEN,Venezuela (República Bolivariana de),1986,2207,Tasa de crecimiento del producto interno bruto...,6.510345,WB
332,VEN,Venezuela (República Bolivariana de),1987,2207,Tasa de crecimiento del producto interno bruto...,3.58165,WB
333,VEN,Venezuela (República Bolivariana de),1988,2207,Tasa de crecimiento del producto interno bruto...,5.821368,WB
334,VEN,Venezuela (República Bolivariana de),1989,2207,Tasa de crecimiento del producto interno bruto...,-8.569882,WB

In [90]:
df_gdp_ok=df_gdp[['indicador_id','Pais_abr','Año','valor','fuente']]
df_gdp_ok

    indicador_id Pais_abr   Año               valor fuente
0           2207      CHL  2000    5.32693841920573  CEPAL
1           2207      PRY  2000   -2.31414056822885  CEPAL
2           2207      VEN  2000         3.686944167  CEPAL
3           2207      ARG  2000  -0.788998922157391  CEPAL
4           2207      PER  2000     2.6943713980691  CEPAL
..           ...      ...   ...                 ...    ...
330         2207      VEN  1985              0.1933     WB
331         2207      VEN  1986            6.510345     WB
332         2207      VEN  1987             3.58165     WB
333         2207      VEN  1988            5.821368     WB
334         2207      VEN  1989           -8.569882     WB

[358 rows x 5 columns]

In [ ]:
'''df_gdp_ok.to_sql(
    'PIB', 
    engine,
    index=False # Not copying over the index
)'''

In [ ]:
#df_gdp_ok.to_csv('data\gdp.csv', encoding='latin-1',index=False)

## PIB a precios corrientes

In [62]:
df_PIB_corrientes=pd.DataFrame(pd.read_csv('./data/1_PIB/PIB precios corrientes_WB/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_3358362.csv',skiprows=4))
df_PIB_corrientes=df_PIB_corrientes.drop(['Country Name','Indicator Name','Indicator Code','Unnamed: 65'],axis=1)
df_PIB_corrientes

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN
1,AFE,1.934248e+10,1.975349e+10,2.152662e+10,2.577236e+10,2.356323e+10,2.685135e+10,2.919650e+10,3.021907e+10,3.292707e+10,...,8.986047e+11,9.155904e+11,9.300864e+11,9.588248e+11,8.954401e+11,8.569919e+11,9.647907e+11,9.866107e+11,9.803716e+11,9.008286e+11
2,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,1.780429e+10,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10,1.980707e+10
3,AFW,1.040732e+10,1.113130e+10,1.194684e+10,1.268022e+10,1.384262e+10,1.486682e+10,1.583747e+10,1.443065e+10,1.488470e+10,...,6.584282e+11,7.169352e+11,8.078189e+11,8.469431e+11,7.574921e+11,6.874847e+11,6.809891e+11,7.381313e+11,7.920789e+11,7.865850e+11
4,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,8.941719e+10,6.230691e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.701698e+09,6.499807e+09,7.074778e+09,7.396705e+09,6.442916e+09,6.719172e+09,7.245707e+09,7.942962e+09,7.953156e+09,7.611402e+09
262,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.272642e+10,3.540134e+10,4.041524e+10,4.322859e+10,4.244510e+10,3.093383e+10,2.673614e+10,2.348627e+10,NaN,NaN
263,ZAF,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,1.489459e+10,...,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,3.514316e+11,3.019236e+11
264,ZMB,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,...,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631164e+10,2.330869e+10,1.932005e+10
265,ZWE,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.901533e+10,1.952362e+10,1.693243e+10,1.676851e+10

In [63]:
df_PIB_corrientes=pd.melt(df_PIB_corrientes, id_vars='Country Code',var_name='Year',value_name='GDP (current US$)')
df_PIB_corrientes.fillna(0)

      Country Code  Year  GDP (current US$)
0              ABW  1960       0.000000e+00
1              AFE  1960       1.934248e+10
2              AFG  1960       5.377778e+08
3              AFW  1960       1.040732e+10
4              AGO  1960       0.000000e+00
...            ...   ...                ...
16221          XKX  2020       7.611402e+09
16222          YEM  2020       0.000000e+00
16223          ZAF  2020       3.019236e+11
16224          ZMB  2020       1.932005e+10
16225          ZWE  2020       1.676851e+10

[16226 rows x 3 columns]

In [64]:
df_PIB_corrientes=df_PIB_corrientes[df_PIB_corrientes['Year']>'1979']
df_PIB_corrientes=df_PIB_corrientes[(df_PIB_corrientes['Country Code']=='ARG')|
                 (df_PIB_corrientes['Country Code']=='BRA') |
                 (df_PIB_corrientes['Country Code']=='CHL') |
                 (df_PIB_corrientes['Country Code']=='PRY') |
                 (df_PIB_corrientes['Country Code']=='VEN')]
df_PIB_corrientes['GDP (current US$)_M']=df_PIB_corrientes['GDP (current US$)'].apply(lambda x: x/1000000)

In [68]:
df_PIB_corrientes[(df_PIB_corrientes['Country Code']=='VEN')&(df_PIB_corrientes['Year']>'2009')].mean()

Year                   1.827456e+42
GDP (current US$)      3.888651e+11
GDP (current US$)_M    3.888651e+05
dtype: float64

In [74]:
df_PIB_corrientes=df_PIB_corrientes.fillna(df_PIB_corrientes[(df_PIB_corrientes['Country Code']=='VEN')&(df_PIB_corrientes['Year']>'2009')].mean())
df_PIB_corrientes

      Country Code  Year  GDP (current US$)  GDP (current US$)_M
5329           ARG  1980       7.696192e+10         7.696192e+04
5349           BRA  1980       2.350246e+11         2.350246e+05
5359           CHL  1980       2.903671e+10         2.903671e+04
5515           PRY  1980       4.448087e+09         4.448087e+03
5574           VEN  1980       5.911651e+10         5.911651e+04
...            ...   ...                ...                  ...
15969          ARG  2020       3.830670e+11         3.830670e+05
15989          BRA  2020       1.444733e+12         1.444733e+06
15999          CHL  2020       2.529400e+11         2.529400e+05
16155          PRY  2020       3.530424e+10         3.530424e+04
16214          VEN  2020       3.888651e+11         3.888651e+05

[205 rows x 4 columns]

## Deuda externa

In [70]:
ruta='./data/3_Deuda_externa/Deuda_externa_total_desde_1980.json'

In [71]:
df_values=pd.DataFrame(pd.read_json(ruta).body.data)
df_paises=pd.DataFrame(pd.read_json(ruta).body.dimensions[0]['members'])
df_años=pd.DataFrame(pd.read_json(ruta).body.dimensions[1]['members'])
df_source2=pd.DataFrame(pd.read_json(ruta).body.sources)
df_indicador_debt=pd.DataFrame(pd.read_json(ruta).body.metadata, index=[0])

In [98]:
df_debt_raw=((df_values.merge(df_paises,left_on='dim_208',right_on='id')).merge(df_años,left_on='dim_29117',right_on='id')).merge(df_source2,left_on='source_id',right_on='id')
df_debt_raw['indicador_id']=df_indicador_debt.at[0,'indicator_id']
df_debt_raw['indicador_desc']=df_indicador_debt.at[0,'indicator_name']
df_debt_raw

,value,source_id,notes_ids,iso3,dim_208,dim_29117,name_x,id_x,in_x,order_x,...,parent_y,selected_y,id,description,publication_url,organization_acronym,organization_name,organization_url,indicador_id,indicador_desc
0,64000,698,,BRA,222,29150,Brasil,222,1,100,...,29117,1,698,Estimaciones propias basadas en fuentes nacion...,,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.cepal.org,861,Deuda externa total
1,9595,698,,PER,244,29150,Perú,244,1,310,...,29117,1,698,Estimaciones propias basadas en fuentes nacion...,,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.cepal.org,861,Deuda externa total
2,26963.3919,698,,VEN,259,29150,Venezuela (República Bolivariana de),259,1,400,...,29117,1,698,Estimaciones propias basadas en fuentes nacion...,,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.cepal.org,861,Deuda externa total
3,861,698,,PRY,242,29150,Paraguay,242,1,300,...,29117,1,698,Estimaciones propias basadas en fuentes nacion...,,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.cepal.org,861,Deuda externa total
4,11207,698,,CHL,224,29150,Chile,224,1,110,...,29117,1,698,Estimaciones propias basadas en fuentes nacion...,,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.cepal.org,861,Deuda externa total
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,619415.7146,698,,BRA,222,29190,Brasil,222,1,100,...,29117,1,698,Estimaciones propias basadas en fuentes nacion...,,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.cepal.org,861,Deuda externa total
241,82313.6013,698,,PER,244,29190,Perú,244,1,310,...,29117,1,698,Estimaciones propias basadas en fuentes nacion...,,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.cepal.org,861,Deuda externa total
242,12344.5979,698,,PRY,242,29190,Paraguay,242,1,300,...,29117,1,698,Estimaciones propias basadas en fuentes nacion...,,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.cepal.org,861,Deuda externa total
243,208108,698,,CHL,224,29190,Chile,224,1,110,...,29117,1,698,Estimaciones propias basadas en fuentes nacion...,,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.cepal.org,861,Deuda externa total
244,270825.4996,698,,ARG,216,29190,Argentina,216,1,40,...,29117,1,698,Estimaciones propias basadas en fuentes nacion...,,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.cepal.org,861,Deuda externa total

In [102]:
df_debt_raw.rename(columns={'iso3':'Pais_abr', 'name_x':'Pais', 'name_y':'Año', 'value':'valor','organization_acronym':'fuente'},inplace='True')
df_debt=df_debt_raw[['Pais_abr','Pais','Año','indicador_id','indicador_desc','valor','fuente']]
df_debt_merged = pd.merge(df_PIB_corrientes, df_debt,left_on=['Country Code','Year'],right_on=['Pais_abr','Año'])
df_debt_merged['valor']=df_debt_merged['valor'].astype(float, errors = 'raise')
df_debt_merged['valor_ok']=(df_debt_merged['valor']/df_debt_merged['GDP (current US$)_M'])
#df_debt['valor']=df_PIB_corrientes['GDP (current US$)'].apply(lambda x: x/100000)
df_debt=df_debt_merged.rename(columns={'valor':'valor_antiguo','valor_ok':'valor'})
df_debt[df_debt['Country Code']=='VEN']

,Country Code,Year,GDP (current US$),GDP (current US$)_M,Pais_abr,Pais,Año,indicador_id,indicador_desc,valor_antiguo,fuente,valor
4,VEN,1980,5.911651e+10,59116.511628,VEN,Venezuela (República Bolivariana de),1980,861,Deuda externa total,26963.3919,CEPAL,0.456106
9,VEN,1981,6.632744e+10,66327.441860,VEN,Venezuela (República Bolivariana de),1981,861,Deuda externa total,29232.8047,CEPAL,0.440735
14,VEN,1982,6.773674e+10,67736.744186,VEN,Venezuela (República Bolivariana de),1982,861,Deuda externa total,29187.2707,CEPAL,0.430893
19,VEN,1983,6.755628e+10,67556.279070,VEN,Venezuela (República Bolivariana de),1983,861,Deuda externa total,31611.4990,CEPAL,0.467928
24,VEN,1984,6.001029e+10,60010.285714,VEN,Venezuela (República Bolivariana de),1984,861,Deuda externa total,30837.4216,CEPAL,0.513869
29,VEN,1985,6.196547e+10,61965.466667,VEN,Venezuela (República Bolivariana de),1985,861,Deuda externa total,31238.1205,CEPAL,0.504121
34,VEN,1986,6.039160e+10,60391.604938,VEN,Venezuela (República Bolivariana de),1986,861,Deuda externa total,30815.5653,CEPAL,0.510262
39,VEN,1987,4.802903e+10,48029.034483,VEN,Venezuela (República Bolivariana de),1987,861,Deuda externa total,31721.6912,CEPAL,0.660469
44,VEN,1988,6.022641e+10,60226.413793,VEN,Venezuela (República Bolivariana de),1988,861,Deuda externa total,35867.0000,CEPAL,0.595536
49,VEN,1989,4.352625e+10,43526.253602,VEN,Venezuela (República Bolivariana de),1989,861,Deuda externa total,33812.0000,CEPAL,0.776819
54,VEN,1990,4.859832e+10,48598.315565,VEN,Venezuela (República Bolivariana de),1990,861,Deuda externa total,35528.0000,CEPAL,0.731054
59,VEN,1991,5.347697e+10,53476.971831,VEN,Venezuela (República Bolivariana de),1991,861,Deuda externa total,36000.0000,CEPAL,0.673187
64,VEN,1992,6.040180e+10,60401.798246,VEN,Venezuela (República Bolivariana de),1992,861,Deuda externa total,38447.0000,CEPAL,0.636521
69,VEN,1993,6.006501e+10,60065.011013,VEN,Venezuela (República Bolivariana de),1993,861,Deuda externa total,40836.0000,CEPAL,0.679863
74,VEN,1994,5.841867e+10,58418.666667,VEN,Venezuela (República Bolivariana de),1994,861,Deuda externa total,40998.0000,CEPAL,0.701796
79,VEN,1995,7.740773e+10,77407.726244,VEN,Venezuela (República Bolivariana de),1995,861,Deuda externa total,37537.0000,CEPAL,0.484926
84,VEN,1996,7.054321e+10,70543.211119,VEN,Venezuela (República Bolivariana de),1996,861,Deuda externa total,34117.0000,CEPAL,0.483633
89,VEN,1997,8.584353e+10,85843.534589,VEN,Venezuela (República Bolivariana de),1997,861,Deuda externa total,38920.0000,CEPAL,0.453383
94,VEN,1998,9.133120e+10,91331.203433,VEN,Venezuela (República Bolivariana de),1998,861,Deuda externa total,39911.0000,CEPAL,0.436992
99,VEN,1999,9.797689e+10,97976.886247,VEN,Venezuela (República Bolivariana de),1999,861,Deuda externa total,40820.0000,CEPAL,0.416629
104,VEN,2000,1.171407e+11,117140.723529,VEN,Venezuela (República Bolivariana de),2000,861,Deuda externa total,39543.0000,CEPAL,0.337568
109,VEN,2001,1.229040e+11,122903.960205,VEN,Venezuela (República Bolivariana de),2001,861,Deuda externa total,38790.0000,CEPAL,0.315612
114,VEN,2002,9.289359e+10,92893.587734,VEN,Venezuela (República Bolivariana de),2002,861,Deuda externa total,39213.0000,CEPAL,0.422128
119,VEN,2003,8.362063e+10,83620.628582,VEN,Venezuela (República Bolivariana de),2003,861,Deuda externa total,42972.0000,CEPAL,0.513892
124,VEN,2004,1.124534e+11,112453.382330,VEN,Venezuela (República Bolivariana de),2004,861,Deuda externa total,42303.0000,CEPAL,0.376183
129,VEN,2005,1.455100e+11,145510.008135,VEN,Venezuela (República Bolivariana de),2005,861,Deuda externa total,44820.0000,CEPAL,0.308020
134,VEN,2006,1.834775e+11,183477.522124,VEN,Venezuela (República Bolivariana de),2006,861,Deuda externa total,43855.0000,CEPAL,0.239021
139,VEN,2007,2.303640e+11,230364.012576,VEN,Venezuela (República Bolivariana de),2007,861,Deuda externa total,58426.0000,CEPAL,0.253625
144,VEN,2008,3.159534e+11,315953.388511,VEN,Venezuela (República Bolivariana de),2008,861,Deuda externa total,66727.0000,CEPAL,0.211193
149,VEN,2009,3.297876e+11,329787.628928,VEN,Venezuela (República Bolivariana de),2009,861,Deuda externa total,84602.0000,CEPAL,0.256535
154,VEN,2010,3.931924e+11,393192.354511,VEN,Venezuela (República Bolivariana de),2010,861,Deuda externa total,102354.0000,CEPAL,0.260315
159,VEN,2011,3.164822e+11,316482.190800,VEN,Venezuela (República Bolivariana de),2011,861,Deuda externa total,118285.0000,CEPAL,0.373749
164,VEN,2012,3.812862e+11,381286.237848,VEN,Venezuela (República Bolivariana de),2012,861,Deuda externa total,130785.0000,CEPAL,0.343010
169,VEN,2013,3.710054e+11,371005.379787,VEN,Venezuela (República Bolivariana de),2013,861,Deuda externa total,132362.0000,CEPAL,0.356766
174,VEN,2014,4.823593e+11,482359.318768,VEN,Venezuela (República Bolivariana de),2014,861,Deuda externa total,135767.0000,CEPAL,0.281464
179,VEN,2015,3.888651e+11,388865.096343,VEN,Venezuela (República Bolivariana de),2015,861,Deuda externa total,149755.0000,CEPAL,0.385108
184,VEN,2016,3.888651e+11,388865.096343,VEN,Venezuela (República Bolivariana de),2016,861,Deuda externa total,149859.0000,CEPAL,0.385375
189,VEN,2017,3.888651e+11,388865.096343,VEN,Venezuela (República Bolivariana de),2017,861,Deuda externa total,148328.0000,CEPAL,0.381438
194,VEN,2018,3.888651e+11,388865.096343,VEN,Venezuela (República Bolivariana de),2018,861,Deuda externa total,148432.0000,CEPAL,0.381706
199,VEN,2019,3.888651e+11,388865.096343,VEN,Venezuela (República Bolivariana de),2019,861,Deuda externa total,147899.0000,CEPAL,0.380335

In [ ]:
#df_debt.to_csv('data\debt.csv', encoding='latin-1')

In [101]:
df_debt_ok=df_debt[['indicador_id','Pais_abr','Año','valor','fuente']]
df_debt_ok[df_debt_ok[]]

     indicador_id Pais_abr   Año     valor fuente
0             861      ARG  1980  0.352928  CEPAL
1             861      BRA  1980  0.272312  CEPAL
2             861      CHL  1980  0.385960  CEPAL
3             861      PRY  1980  0.193566  CEPAL
4             861      VEN  1980  0.456106  CEPAL
..            ...      ...   ...       ...    ...
199           861      VEN  2019  0.380335  CEPAL
200           861      ARG  2020  0.706993  CEPAL
201           861      BRA  2020  0.428741  CEPAL
202           861      CHL  2020  0.822756  CEPAL
203           861      PRY  2020  0.349663  CEPAL

[204 rows x 5 columns]

In [104]:
df_debt_ok.to_sql(
    'Deuda_externa', 
    engine,
    index=False # Not copying over the index
)

## IPC

In [20]:
ruta='./data/2_IPC/IPC_desde_1980_CEPALSTAT.json'

In [21]:
df_values=pd.DataFrame(pd.read_json(ruta).body.data)
df_paises=pd.DataFrame(pd.read_json(ruta).body.dimensions[0]['members'])
df_años=pd.DataFrame(pd.read_json(ruta).body.dimensions[1]['members'])
df_source3=pd.DataFrame(pd.read_json(ruta).body.sources)
df_indicador_ipc=pd.DataFrame(pd.read_json(ruta).body.metadata, index=[0])

In [23]:
df_ipc_raw=((df_values.merge(df_paises,left_on='dim_208',right_on='id')).merge(df_años,left_on='dim_29117',right_on='id')).merge(df_source3,left_on='source_id',right_on='id')
df_ipc_raw['indicador_id']=df_indicador_ipc.at[0,'indicator_id']
df_ipc_raw['indicador_desc']=df_indicador_ipc.at[0,'indicator_name']
df_ipc_raw

,value,source_id,notes_ids,iso3,dim_29117,dim_208,name_x,id_x,in_x,order_x,...,parent_y,selected_y,id,description,publication_url,organization_acronym,organization_name,organization_url,indicador_id,indicador_desc
0,87.6,256,2820,ARG,29150,216,Argentina,216,1,40,...,29117,1,256,Indice de precios al consumidor de Argentina.,http://www.indec.gov.ar/,INDEC,Instituto Nacional de Estadísticas y Censos. A...,http://www.indec.gov.ar/el-indec.asp,2484,Tasa de crecimiento anual del índice de precio...
1,131.27,256,2820,ARG,29151,216,Argentina,216,1,40,...,29117,1,256,Indice de precios al consumidor de Argentina.,http://www.indec.gov.ar/,INDEC,Instituto Nacional de Estadísticas y Censos. A...,http://www.indec.gov.ar/el-indec.asp,2484,Tasa de crecimiento anual del índice de precio...
2,209.7289,256,2820,ARG,29152,216,Argentina,216,1,40,...,29117,1,256,Indice de precios al consumidor de Argentina.,http://www.indec.gov.ar/,INDEC,Instituto Nacional de Estadísticas y Censos. A...,http://www.indec.gov.ar/el-indec.asp,2484,Tasa de crecimiento anual del índice de precio...
3,433.6934,256,2820,ARG,29153,216,Argentina,216,1,40,...,29117,1,256,Indice de precios al consumidor de Argentina.,http://www.indec.gov.ar/,INDEC,Instituto Nacional de Estadísticas y Censos. A...,http://www.indec.gov.ar/el-indec.asp,2484,Tasa de crecimiento anual del índice de precio...
4,687.9808,256,2820,ARG,29154,216,Argentina,216,1,40,...,29117,1,256,Indice de precios al consumidor de Argentina.,http://www.indec.gov.ar/,INDEC,Instituto Nacional de Estadísticas y Censos. A...,http://www.indec.gov.ar/el-indec.asp,2484,Tasa de crecimiento anual del índice de precio...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,274.354,272,2844,VEN,29186,259,Venezuela (República Bolivariana de),259,1,400,...,29117,1,272,Indice de precios al consumidor de Venezuela.,http://www.bcv.org.ve/c2/indicadores.asp,BCV,Banco Central de Venezuela,http://www.bcv.org.ve,2484,Tasa de crecimiento anual del índice de precio...
242,862.629,272,2844,VEN,29187,259,Venezuela (República Bolivariana de),259,1,400,...,29117,1,272,Indice de precios al consumidor de Venezuela.,http://www.bcv.org.ve/c2/indicadores.asp,BCV,Banco Central de Venezuela,http://www.bcv.org.ve,2484,Tasa de crecimiento anual del índice de precio...
243,130060.245,272,2844,VEN,29188,259,Venezuela (República Bolivariana de),259,1,400,...,29117,1,272,Indice de precios al consumidor de Venezuela.,http://www.bcv.org.ve/c2/indicadores.asp,BCV,Banco Central de Venezuela,http://www.bcv.org.ve,2484,Tasa de crecimiento anual del índice de precio...
244,9585.494,272,2844,VEN,29189,259,Venezuela (República Bolivariana de),259,1,400,...,29117,0,272,Indice de precios al consumidor de Venezuela.,http://www.bcv.org.ve/c2/indicadores.asp,BCV,Banco Central de Venezuela,http://www.bcv.org.ve,2484,Tasa de crecimiento anual del índice de precio...
245,2959.8392,272,2844,VEN,29190,259,Venezuela (República Bolivariana de),259,1,400,...,29117,0,272,Indice de precios al consumidor de Venezuela.,http://www.bcv.org.ve/c2/indicadores.asp,BCV,Banco Central de Venezuela,http://www.bcv.org.ve,2484,Tasa de crecimiento anual del índice de precio...

In [26]:
df_ipc_raw.rename(columns={'iso3':'Pais_abr', 'name_x':'Pais', 'name_y':'Año', 'value':'valor','organization_acronym':'fuente'},inplace='True')
df_ipc=df_ipc_raw[['Pais_abr','Pais','Año','indicador_id','indicador_desc','valor','fuente']]
#df_ipc[df_ipc['Pais_abr']=='ARG']

In [30]:
df_ipc_ok=df_ipc[['indicador_id','Pais_abr','Año','valor','fuente']]
#df_ipc_ok[df_ipc_ok['Pais_abr']=='ARG']

In [32]:
df_ipc_ok.to_sql(
    'IPC', 
    engine,
    index=False # Not copying over the index
)

In [ ]:
#df_ipc.to_csv('data\ipc.csv', encoding='latin-1')

## Desempleo

In [1]:
ruta='./data/4_Desempleo/Tasa_de_desempleo_desde_1980_CEPALSTAT.json'

In [4]:
df_values=pd.DataFrame(pd.read_json(ruta).body.data)
df_paises=pd.DataFrame(pd.read_json(ruta).body.dimensions[2]['members'])
df_años=pd.DataFrame(pd.read_json(ruta).body.dimensions[1]['members'])
df_source4=pd.DataFrame(pd.read_json(ruta).body.sources)
df_indicador_desempleo=pd.DataFrame(pd.read_json(ruta).body.metadata, index=[0])

In [5]:
df_desempleo_raw=((df_values.merge(df_paises,left_on='dim_208',right_on='id')).merge(df_años,left_on='dim_29117',right_on='id')).merge(df_source4,left_on='source_id',right_on='id')
df_desempleo_raw['indicador_id']=df_indicador_desempleo.at[0,'indicator_id']
df_desempleo_raw['indicador_desc']=df_indicador_desempleo.at[0,'indicator_name']
df_desempleo_raw

,value,source_id,notes_ids,iso3,dim_208,dim_144,dim_29117,name_x,id_x,in_x,...,parent_y,selected_y,id,description,publication_url,organization_acronym,organization_name,organization_url,indicador_id,indicador_desc
0,2.6,36,152,ARG,216,146,29150,Argentina,216,1,...,29117,1,36,Sobre la base de cifras oficiales de los países.,http://www.cepal.org/es/areas-de-trabajo/desar...,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.eclac.cl/,127,Tasa de desocupación según sexo
1,10.4,36,156,CHL,224,146,29150,Chile,224,1,...,29117,1,36,Sobre la base de cifras oficiales de los países.,http://www.cepal.org/es/areas-de-trabajo/desar...,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.eclac.cl/,127,Tasa de desocupación según sexo
2,4.1,36,156,PRY,242,146,29150,Paraguay,242,1,...,29117,1,36,Sobre la base de cifras oficiales de los países.,http://www.cepal.org/es/areas-de-trabajo/desar...,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.eclac.cl/,127,Tasa de desocupación según sexo
3,6,36,156,VEN,259,146,29150,Venezuela (República Bolivariana de),259,1,...,29117,1,36,Sobre la base de cifras oficiales de los países.,http://www.cepal.org/es/areas-de-trabajo/desar...,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.eclac.cl/,127,Tasa de desocupación según sexo
4,4.6,36,152,ARG,216,146,29151,Argentina,216,1,...,29117,1,36,Sobre la base de cifras oficiales de los países.,http://www.cepal.org/es/areas-de-trabajo/desar...,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.eclac.cl/,127,Tasa de desocupación según sexo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,11.539483,36,152,ARG,216,146,29190,Argentina,216,1,...,29117,1,36,Sobre la base de cifras oficiales de los países.,http://www.cepal.org/es/areas-de-trabajo/desar...,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.eclac.cl/,127,Tasa de desocupación según sexo
200,13.506058,36,156,BRA,222,146,29190,Brasil,222,1,...,29117,1,36,Sobre la base de cifras oficiales de los países.,http://www.cepal.org/es/areas-de-trabajo/desar...,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.eclac.cl/,127,Tasa de desocupación según sexo
201,10.781217,36,"156,5844",CHL,224,146,29190,Chile,224,1,...,29117,1,36,Sobre la base de cifras oficiales de los países.,http://www.cepal.org/es/areas-de-trabajo/desar...,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.eclac.cl/,127,Tasa de desocupación según sexo
202,7.7257067,36,"156,8801",PRY,242,146,29190,Paraguay,242,1,...,29117,1,36,Sobre la base de cifras oficiales de los países.,http://www.cepal.org/es/areas-de-trabajo/desar...,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.eclac.cl/,127,Tasa de desocupación según sexo
203,7.625,36,156,PER,244,146,29190,Perú,244,1,...,29117,1,36,Sobre la base de cifras oficiales de los países.,http://www.cepal.org/es/areas-de-trabajo/desar...,CEPAL,Comisión Económica para América Latina y el Ca...,http://www.eclac.cl/,127,Tasa de desocupación según sexo

In [40]:
#importamos datos que faltan
df_desempleo_excel = pd.read_excel (r'C:\Users\carlo\Google Drive\Curso Ironhack\Proyecto04\Desempleo_BRASIL.xlsx', sheet_name='Hoja1')
df_desempleo_excel

,Pais_abr,Pais,Año,indicador_id,indicador_desc,valor,fuente
0,BRA,Brasil,1980,127,Tasa de desocupación según sexo,4.00,http://countrystudies.us/
1,BRA,Brasil,1981,127,Tasa de desocupación según sexo,7.90,http://countrystudies.us/
2,BRA,Brasil,1982,127,Tasa de desocupación según sexo,6.00,http://countrystudies.us/
3,BRA,Brasil,1983,127,Tasa de desocupación según sexo,6.00,http://countrystudies.us/
4,BRA,Brasil,1984,127,Tasa de desocupación según sexo,5.00,http://countrystudies.us/
5,BRA,Brasil,1985,127,Tasa de desocupación según sexo,4.00,http://countrystudies.us/
6,BRA,Brasil,1986,127,Tasa de desocupación según sexo,3.60,http://countrystudies.us/
7,BRA,Brasil,1987,127,Tasa de desocupación según sexo,3.70,http://countrystudies.us/
8,BRA,Brasil,1988,127,Tasa de desocupación según sexo,3.80,http://countrystudies.us/
9,BRA,Brasil,1989,127,Tasa de desocupación según sexo,3.90,http://countrystudies.us/
10,BRA,Brasil,1990,127,Tasa de desocupación según sexo,4.30,http://countrystudies.us/
11,BRA,Brasil,1991,127,Tasa de desocupación según sexo,4.20,http://countrystudies.us/
12,BRA,Brasil,2010,127,Tasa de desocupación según sexo,7.74,statista
13,PRY,Paraguay,1998,127,Tasa de desocupación según sexo,9.34,macrotrends
14,PRY,Paraguay,2000,127,Tasa de desocupación según sexo,9.36,macrotrends
15,BRA,Brasil,2000,127,Tasa de desocupación según sexo,9.90,macrotrends
16,BRA,Brasil,1994,127,Tasa de desocupación según sexo,6.24,macrotrends

In [41]:
df_desempleo_raw.rename(columns={'iso3':'Pais_abr', 'name_x':'Pais', 'name_y':'Año', 'value':'valor','organization_acronym':'fuente'},inplace='True')
df_desempleo=df_desempleo_raw[['Pais_abr','Pais','Año','indicador_id','indicador_desc','valor','fuente']]
df_desempleo=pd.concat([df_desempleo_excel,df_desempleo])
#df_desempleo[df_desempleo['Pais_abr']=='BRA']
df_desempleo

,Pais_abr,Pais,Año,indicador_id,indicador_desc,valor,fuente
0,BRA,Brasil,1980,127,Tasa de desocupación según sexo,4.0,http://countrystudies.us/
1,BRA,Brasil,1981,127,Tasa de desocupación según sexo,7.9,http://countrystudies.us/
2,BRA,Brasil,1982,127,Tasa de desocupación según sexo,6.0,http://countrystudies.us/
3,BRA,Brasil,1983,127,Tasa de desocupación según sexo,6.0,http://countrystudies.us/
4,BRA,Brasil,1984,127,Tasa de desocupación según sexo,5.0,http://countrystudies.us/
...,...,...,...,...,...,...,...
199,ARG,Argentina,2020,127,Tasa de desocupación según sexo,11.539483,CEPAL
200,BRA,Brasil,2020,127,Tasa de desocupación según sexo,13.506058,CEPAL
201,CHL,Chile,2020,127,Tasa de desocupación según sexo,10.781217,CEPAL
202,PRY,Paraguay,2020,127,Tasa de desocupación según sexo,7.7257067,CEPAL
203,PER,Perú,2020,127,Tasa de desocupación según sexo,7.625,CEPAL

In [42]:
df_desempleo_ok=df_desempleo[['indicador_id','Pais_abr','Año','valor','fuente']]
df_desempleo_ok

     indicador_id Pais_abr   Año      valor                     fuente
0             127      BRA  1980        4.0  http://countrystudies.us/
1             127      BRA  1981        7.9  http://countrystudies.us/
2             127      BRA  1982        6.0  http://countrystudies.us/
3             127      BRA  1983        6.0  http://countrystudies.us/
4             127      BRA  1984        5.0  http://countrystudies.us/
..            ...      ...   ...        ...                        ...
199           127      ARG  2020  11.539483                      CEPAL
200           127      BRA  2020  13.506058                      CEPAL
201           127      CHL  2020  10.781217                      CEPAL
202           127      PRY  2020  7.7257067                      CEPAL
203           127      PER  2020      7.625                      CEPAL

[221 rows x 5 columns]

In [43]:
df_desempleo_ok.to_sql(
    'Desempleo', 
    engine,
    index=False # Not copying over the index
)

In [23]:
#df_desempleo.to_csv('data\desempleo.csv', encoding='latin-1')

## IDH

In [134]:
df_values=pd.DataFrame(pd.read_csv('./data/5_IDH/Human Development Index (HDI).csv',skiprows=5))

In [135]:
df_values.dropna(axis=1,how='all',inplace=True)
df_values.dropna(axis=0,how='all',inplace=True)
#df_values[['Argentina','Chile','Paraguay','Venezuela (Bolivarian Republic of)','Brazil','Peru']]

In [136]:
df_values.columns

Index(['HDI Rank', 'Country', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [137]:
years_list=df_values.columns.tolist()[2:]

In [138]:
df_idh_raw=pd.melt(df_values, id_vars='Country',value_vars=years_list, var_name='Año', value_name='valor')

In [142]:
df_idh_raw[df_idh_raw['Country']==' Venezuela (Bolivarian Republic of)']

                                  Country   Año  valor
184    Venezuela (Bolivarian Republic of)  1990  0.644
390    Venezuela (Bolivarian Republic of)  1991  0.654
596    Venezuela (Bolivarian Republic of)  1992  0.660
802    Venezuela (Bolivarian Republic of)  1993  0.662
1008   Venezuela (Bolivarian Republic of)  1994  0.662
1214   Venezuela (Bolivarian Republic of)  1995  0.666
1420   Venezuela (Bolivarian Republic of)  1996  0.668
1626   Venezuela (Bolivarian Republic of)  1997  0.670
1832   Venezuela (Bolivarian Republic of)  1998  0.672
2038   Venezuela (Bolivarian Republic of)  1999  0.674
2244   Venezuela (Bolivarian Republic of)  2000  0.676
2450   Venezuela (Bolivarian Republic of)  2001  0.684
2656   Venezuela (Bolivarian Republic of)  2002  0.692
2862   Venezuela (Bolivarian Republic of)  2003  0.692
3068   Venezuela (Bolivarian Republic of)  2004  0.704
3274   Venezuela (Bolivarian Republic of)  2005  0.718
3480   Venezuela (Bolivarian Republic of)  2006  0.731
3686   Venezuela (Bolivarian Republic of)  2007  0.748
3892   Venezuela (Bolivarian Republic of)  2008  0.757
4098   Venezuela (Bolivarian Republic of)  2009  0.756
4304   Venezuela (Bolivarian Republic of)  2010  0.757
4510   Venezuela (Bolivarian Republic of)  2011  0.769
4716   Venezuela (Bolivarian Republic of)  2012  0.772
4922   Venezuela (Bolivarian Republic of)  2013  0.777
5128   Venezuela (Bolivarian Republic of)  2014  0.775
5334   Venezuela (Bolivarian Republic of)  2015  0.769
5540   Venezuela (Bolivarian Republic of)  2016  0.759
5746   Venezuela (Bolivarian Republic of)  2017  0.743
5952   Venezuela (Bolivarian Republic of)  2018  0.733
6158   Venezuela (Bolivarian Republic of)  2019  0.711

In [143]:
paises=['Argentina','Chile','Paraguay','Venezuela (Bolivarian Republic of)','Brazil','Peru']
df_idh_raw['Country']=df_idh_raw['Country'].str.strip()
df_idh_raw=df_idh_raw[df_idh_raw.Country.isin(paises)]
df_idh_raw

                                 Country   Año  valor
6                              Argentina  1990  0.718
23                                Brazil  1990  0.613
34                                 Chile  1990  0.706
134                             Paraguay  1990  0.598
135                                 Peru  1990  0.613
...                                  ...   ...    ...
5997                              Brazil  2019  0.765
6008                               Chile  2019  0.851
6108                            Paraguay  2019  0.728
6109                                Peru  2019  0.777
6158  Venezuela (Bolivarian Republic of)  2019  0.711

[180 rows x 3 columns]

In [144]:
df_source5= pd.DataFrame(
            {
                'id':['999'],
                'description':['A composite index measuring average achievement in three basic dimensions of human development-a long and healthy life, knowledge and a decent standard of living.'],
                'publication_url':[''],
                'organization_acronym':['UN'],
                'organization_name':['United Nations Statistics Division'],
                'organization_url':['http://hdr.undp.org']
            },
            index=[0],
)
df_source5

,id,description,publication_url,organization_acronym,organization_name,organization_url
0,999,A composite index measuring average achievemen...,,UN,United Nations Statistics Division,http://hdr.undp.org

In [145]:
df_idh_raw['Pais_abr']=''
df_idh_raw['Pais']=''
df_idh_raw['indicador_id']='999'
df_idh_raw['indicador_desc']='Human Development Index (HDI)'
df_idh_raw['fuente']='UN'
df_idh_raw

<ipython-input-145-cf345232c779>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_idh_raw['Pais_abr']=''
<ipython-input-145-cf345232c779>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_idh_raw['Pais']=''
<ipython-input-145-cf345232c779>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_idh_raw['indicador_id']='999'
<ipython-input-145-cf345232c779>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_idh_raw['indicador_desc']='Human Development Index (HDI)'
<ipython-input-145-cf345232c779>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_idh_raw['fuente']='UN'

,Country,Año,valor,Pais_abr,Pais,indicador_id,indicador_desc,fuente
6,Argentina,1990,0.718,,,999,Human Development Index (HDI),UN
23,Brazil,1990,0.613,,,999,Human Development Index (HDI),UN
34,Chile,1990,0.706,,,999,Human Development Index (HDI),UN
134,Paraguay,1990,0.598,,,999,Human Development Index (HDI),UN
135,Peru,1990,0.613,,,999,Human Development Index (HDI),UN
...,...,...,...,...,...,...,...,...
5997,Brazil,2019,0.765,,,999,Human Development Index (HDI),UN
6008,Chile,2019,0.851,,,999,Human Development Index (HDI),UN
6108,Paraguay,2019,0.728,,,999,Human Development Index (HDI),UN
6109,Peru,2019,0.777,,,999,Human Development Index (HDI),UN
6158,Venezuela (Bolivarian Republic of),2019,0.711,,,999,Human Development Index (HDI),UN

In [146]:
df_idh_raw['Pais_abr']=np.where(df_idh_raw['Country']=='Argentina','ARG',
                                np.where(df_idh_raw['Country']=='Brazil','BRA',
                                         np.where(df_idh_raw['Country']=='Chile','CHL',
                                                 np.where(df_idh_raw['Country']=='Paraguay','PRY',
                                                         np.where(df_idh_raw['Country']=='Peru','PER',
                                                                  np.where(df_idh_raw['Country']=='Venezuela (Bolivarian Republic of)','VEN',''))))))

<ipython-input-146-e1155bc1b7cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_idh_raw['Pais_abr']=np.where(df_idh_raw['Country']=='Argentina','ARG',

In [147]:
df_idh_raw['Pais']=df_idh_raw['Country'].replace({'Brazil':'Brasil','Peru':'Perú','Venezuela (Bolivarian Republic of)':'Venezuela (República Bolivariana de)'})

<ipython-input-147-821eaf35de3c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_idh_raw['Pais']=df_idh_raw['Country'].replace({'Brazil':'Brasil','Peru':'Perú','Venezuela (Bolivarian Republic of)':'Venezuela (República Bolivariana de)'})

In [148]:
df_idh_raw

,Country,Año,valor,Pais_abr,Pais,indicador_id,indicador_desc,fuente
6,Argentina,1990,0.718,ARG,Argentina,999,Human Development Index (HDI),UN
23,Brazil,1990,0.613,BRA,Brasil,999,Human Development Index (HDI),UN
34,Chile,1990,0.706,CHL,Chile,999,Human Development Index (HDI),UN
134,Paraguay,1990,0.598,PRY,Paraguay,999,Human Development Index (HDI),UN
135,Peru,1990,0.613,PER,Perú,999,Human Development Index (HDI),UN
...,...,...,...,...,...,...,...,...
5997,Brazil,2019,0.765,BRA,Brasil,999,Human Development Index (HDI),UN
6008,Chile,2019,0.851,CHL,Chile,999,Human Development Index (HDI),UN
6108,Paraguay,2019,0.728,PRY,Paraguay,999,Human Development Index (HDI),UN
6109,Peru,2019,0.777,PER,Perú,999,Human Development Index (HDI),UN
6158,Venezuela (Bolivarian Republic of),2019,0.711,VEN,Venezuela (República Bolivariana de),999,Human Development Index (HDI),UN

In [149]:
df_idh=df_idh_raw[['Pais_abr','Pais','Año','indicador_id','indicador_desc','valor','fuente']]

In [152]:
df_idh_ok=df_idh[['indicador_id','Pais_abr','Año','valor','fuente']]

In [154]:
df_idh_ok.to_sql(
    'IDH', 
    engine,
    index=False # Not copying over the index
)

In [ ]:
#df_idh.to_csv('data\idh.csv', encoding='latin-1')

## tabla paises

In [38]:
df_pais_ok=pd.DataFrame(df_gdp_raw.groupby(['id_x', 'Pais','Pais_abr'],as_index=False).size())

NameError: name 'df_gdp_raw' is not defined

In [ ]:
df_pais_ok=df_pais_ok[['id_x','Pais','Pais_abr']]
df_pais_ok.rename(columns={'id_x':'id_Pais','Pais':'nombre'},inplace=True)

In [ ]:
df_pais_ok

In [ ]:
'''df_pais_ok.to_sql(
    'Pais', 
    engine,
    index=False # Not copying over the index
)'''

## tabla years

In [ ]:
ruta='./data/2_IPC/IPC_desde_1980_CEPALSTAT.json'
df_años=pd.DataFrame(pd.read_json(ruta).body.dimensions[1]['members'])
df_años

In [ ]:
df_years_ok=df_años[['id','name']]
df_years_ok.rename(columns={'id':'id_Year','name':'Year'},inplace=True)
df_years_ok

In [ ]:
'''df_years_ok.to_sql(
    'Years', 
    engine,
    index=False # Not copying over the index
)'''

## tabla gobernantes

In [ ]:
df_gobernantes=pd.read_csv('data/Presidentes_final.csv',usecols=[1,2,3,4,5,6])

In [ ]:
df_gobernantes_ok=df_gobernantes[['Pais_abr','Año','Presidente','Partido','Ideologia economica']]
df_gobernantes_ok.rename(columns={'Año':'Year','Ideologia economica':'ideologia'},inplace=True)
df_gobernantes_ok

In [ ]:
'''df_gobernantes_ok.to_sql(
    'Gobiernos', 
    engine,
    index=False # Not copying over the index
)'''

## tabla indicadores

In [ ]:
df_gdp_ok=df_gdp.groupby(['indicador_id','indicador_desc'],as_index=False).size()
df_debt_ok=df_debt.groupby(['indicador_id','indicador_desc'],as_index=False).size()
df_ipc_ok=df_ipc.groupby(['indicador_id','indicador_desc'],as_index=False).size()
df_desempleo_ok=df_desempleo.groupby(['indicador_id','indicador_desc'],as_index=False).size()
df_idh_ok=df_idh_raw.groupby(['indicador_id','indicador_desc'],as_index=False).size()

In [ ]:
indicators=[df_gdp_ok.head(1), df_debt_ok, df_ipc_ok, df_desempleo_ok, df_idh_ok]
df_indicators=pd.concat(indicators)

In [ ]:
df_indicators_ok=df_indicators[['indicador_id','indicador_desc']]

In [39]:
df_indicators_ok

NameError: name 'df_indicators_ok' is not defined

In [ ]:
'''df_indicators_ok.to_sql(
    'Indicadores', 
    engine,
    index=False # Not copying over the index
)'''

## tabla descripcion indicadores

In [40]:
sources=[df_source1, df_source2, df_source3, df_source4, df_source5]
df_sources=pd.concat(sources)
df_sources

NameError: name 'df_source2' is not defined

In [ ]:
'''df_sources.to_sql(
    'Fuentes', 
    engine,
    index=False # Not copying over the index
)'''

## tabla paises-años

In [115]:
df_filtrado=df_gdp[df_gdp['Año']>='1980']
df_pais_año=df_filtrado[['Pais_abr','Pais','Año']]
df_pais_año = df_pais_año.append({'Pais_abr': 'VEN',
                                  'Pais':'Venezuela (República Bolivariana de)',
                                 'Año':'2019'}, ignore_index=True)
df_pais_año = df_pais_año.append({'Pais_abr': 'VEN',
                                  'Pais':'Venezuela (República Bolivariana de)',
                                 'Año':'2020'}, ignore_index=True)

In [118]:
df_pais_año.to_sql(
    'Pais-año', 
    engine,
    index=False # Not copying over the index
)

NameError: name 'df_desempleo_raw' is not defined

## TABLA RANKINGS

In [6]:
df_ranks = pd.read_excel (r'C:\Users\carlo\Google Drive\Curso Ironhack\Proyecto04\RANKINGS.xlsx', sheet_name='RANK_GLOBAL')
df_ranks

   Pais_abr  Posicion Década
0       CHL         1   1980
1       PRY         2   1980
2       BRA         3   1980
3       VEN         4   1980
4       ARG         5   1980
5       CHL         1   1990
6       PRY         2   1990
7       VEN         3   1990
8       ARG         4   1990
9       BRA         5   1990
10      CHL         1   2000
11      BRA         2   2000
12      VEN         3   2000
13      PRY         4   2000
14      ARG         5   2000
15      CHL         1   2010
16      PRY         2   2010
17      BRA         3   2010
18      ARG         4   2010
19      VEN         5   2010
20      CHL         1  TOTAL
21      PRY         2  TOTAL
22      BRA         3  TOTAL
23      ARG         4  TOTAL
24      VEN         5  TOTAL

In [7]:
df_ranks.to_sql(
    'Rankings', 
    engine,
    index=False # Not copying over the index
)

## Tabla historia económica

In [3]:
df_history = pd.read_excel ('historia_economica.xlsx', sheet_name='Hoja1')

In [4]:
df_history

    Pais_abr   Año                                           Historia
0        VEN  1980  Al inicio de la década Venezuela contaba con u...
1        VEN  1981  Al inicio de la década Venezuela contaba con u...
2        VEN  1982  Al inicio de la década Venezuela contaba con u...
3        VEN  1983  Al inicio de la década Venezuela contaba con u...
4        VEN  1984  Al inicio de la década Venezuela contaba con u...
..       ...   ...                                                ...
195      CHL  2015  Gobierno continuista. A pesar de alguna crisis...
196      CHL  2016  Gobierno continuista. A pesar de alguna crisis...
197      CHL  2017  Gobierno continuista. A pesar de alguna crisis...
198      CHL  2018  Gobierno continuista. A pesar de alguna crisis...
199      CHL  2019  Gobierno continuista. A pesar de alguna crisis...

[200 rows x 3 columns]

In [5]:
df_history.to_sql(
    'History', 
    engine,
    index=False # Not copying over the index
)