In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./lovoo_data.csv')

In [3]:
df.columns

Index(['gender', 'genderLooking', 'age', 'name', 'counts_details',
       'counts_pictures', 'counts_profileVisits', 'counts_kisses',
       'counts_fans', 'counts_g', 'flirtInterests_chat',
       'flirtInterests_friends', 'flirtInterests_date', 'country', 'city',
       'location', 'distance', 'isFlirtstar', 'isHighlighted', 'isInfluencer',
       'isMobile', 'isNew', 'isOnline', 'isVip', 'lang_count', 'lang_fr',
       'lang_en', 'lang_de', 'lang_it', 'lang_es', 'lang_pt', 'verified',
       'shareProfileEnabled', 'lastOnlineDate', 'lastOnlineTime', 'birthd',
       'crypt', 'freetext', 'whazzup', 'userId', 'pictureId',
       'isSystemProfile'],
      dtype='object')

In [4]:
df.head()

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,userId,pictureId,isSystemProfile
0,F,M,25,daeni,1.00,4,8279,239,0,3,...,1,2015-04-25T20:43:26Z,1.429995e+09,0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN
1,F,M,22,italiana 92,0.85,5,663,13,0,0,...,1,2015-04-26T09:19:35Z,1.430040e+09,0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN
2,F,M,21,Lauraaa,0.00,4,1369,88,0,2,...,1,2015-04-06T14:24:07Z,1.428330e+09,0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN
3,F,none,20,Qqkwmdowlo,0.12,3,22187,1015,2,3,...,1,2015-04-07T11:21:01Z,1.428406e+09,0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN
4,F,M,21,schaessie {3,0.15,12,35262,1413,9,12,...,1,2015-04-06T14:25:20Z,1.428330e+09,0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN

In [5]:
df.isna().sum()

gender                       0
genderLooking                0
age                          0
name                         0
counts_details               0
counts_pictures              0
counts_profileVisits         0
counts_kisses                0
counts_fans                  0
counts_g                     0
flirtInterests_chat          0
flirtInterests_friends       0
flirtInterests_date          0
country                      0
city                       286
location                    13
distance                    46
isFlirtstar                  0
isHighlighted                0
isInfluencer                 0
isMobile                     0
isNew                        0
isOnline                     0
isVip                        0
lang_count                   0
lang_fr                      0
lang_en                      0
lang_de                      0
lang_it                      0
lang_es                      0
lang_pt                      0
verified                     0
shareProfileEnabled          0
lastOnlineDate               1
lastOnlineTime               1
birthd                       0
crypt                     3946
freetext                  3879
whazzup                   1593
userId                       0
pictureId                   91
isSystemProfile           3990
dtype: int64

In [6]:
df.drop(['gender', 'counts_details', 'counts_g', 'distance', 'isFlirtstar', 'isInfluencer','birthd','crypt', 'freetext', 'isSystemProfile'], inplace=True, axis=1)

In [7]:
df

,genderLooking,age,name,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,...,lang_it,lang_es,lang_pt,verified,shareProfileEnabled,lastOnlineDate,lastOnlineTime,whazzup,userId,pictureId
0,M,25,daeni,4,8279,239,0,True,True,True,...,False,False,False,0,1,2015-04-25T20:43:26Z,1.429995e+09,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575
1,M,22,italiana 92,5,663,13,0,True,True,True,...,True,False,False,0,1,2015-04-26T09:19:35Z,1.430040e+09,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82
2,M,21,Lauraaa,4,1369,88,0,False,False,True,...,False,False,False,0,1,2015-04-06T14:24:07Z,1.428330e+09,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674
3,none,20,Qqkwmdowlo,3,22187,1015,2,True,True,False,...,False,False,False,0,1,2015-04-07T11:21:01Z,1.428406e+09,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735
4,M,21,schaessie {3,12,35262,1413,9,True,False,False,...,False,False,False,0,1,2015-04-06T14:25:20Z,1.428330e+09,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3987,M,22,Ser**a,6,1003,98,0,False,False,True,...,False,False,False,0,1,2015-04-05T07:13:49Z,1.428218e+09,Fiesta and sport,CRYu9vQnJ8lHU2pVpimKJGIyTHqR73rAu8hg21rtn340Ys...,405009d5e3983c4cd863ae43fd6356a0
3988,M,24,Mon**a,7,6890,563,0,False,False,False,...,True,False,False,1,1,2015-04-19T11:00:59Z,1.429441e+09,"tous des crÃ©atures de Dieu, y'a pas de VIP!!!",CRYuikFTcdFDsGDJugu3PyvSonM1LYwyviJXvZBUayBMgI...,7e0ddbdb1bd293c96d4a5ec5d0466923
3989,M,20,Fa**y,4,1157,52,1,False,True,False,...,False,False,False,0,1,2015-04-19T08:37:52Z,1.429433e+09,NaN,CRYv9Qg5MTSHaqrTK2CMe9cPRNACAFdYDi7BEgoQTyljzz...,768ddd66fd1df8a05c2f27505eb1c710
3990,M,20,Fa**y,4,1157,52,1,False,True,False,...,False,False,False,0,1,2015-04-19T08:37:52Z,1.429433e+09,NaN,CRYwD9ZmbjDXJu8li2DPXI0UseBJt2lovQBWnbKcGDVVcs...,768ddd66fd1df8a05c2f27505eb1c710
3991,M,20,Fa**y,4,1157,52,1,False,True,False,...,False,False,False,0,1,2015-04-19T08:37:52Z,1.429433e+09,NaN,CRYy3Jyp0eCGRSc1WeQQOIYKh3KP6JnmWUeJRLnFXhLt5r...,768ddd66fd1df8a05c2f27505eb1c710

In [8]:
df["genderLooking"].replace({"none": "both"}, inplace=True)

In [9]:
df["genderLooking"].replace({"both": "B"}, inplace=True)

In [10]:
df.drop_duplicates(subset=['userId'],inplace=True)

In [11]:
df.drop_duplicates(subset=['pictureId'],inplace=True)

In [12]:
df['Conversion Rate'] = df['counts_kisses']/df['counts_profileVisits']

In [13]:
df

,genderLooking,age,name,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,...,lang_es,lang_pt,verified,shareProfileEnabled,lastOnlineDate,lastOnlineTime,whazzup,userId,pictureId,Conversion Rate
0,M,25,daeni,4,8279,239,0,True,True,True,...,False,False,0,1,2015-04-25T20:43:26Z,1.429995e+09,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,0.028868
1,M,22,italiana 92,5,663,13,0,True,True,True,...,False,False,0,1,2015-04-26T09:19:35Z,1.430040e+09,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,0.019608
2,M,21,Lauraaa,4,1369,88,0,False,False,True,...,False,False,0,1,2015-04-06T14:24:07Z,1.428330e+09,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,0.064280
3,B,20,Qqkwmdowlo,3,22187,1015,2,True,True,False,...,False,False,0,1,2015-04-07T11:21:01Z,1.428406e+09,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,0.045748
4,M,21,schaessie {3,12,35262,1413,9,True,False,False,...,False,False,0,1,2015-04-06T14:25:20Z,1.428330e+09,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,0.040071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3960,M,20,ja**i,19,9760,359,1,True,True,True,...,False,False,0,1,2015-04-26T12:45:36Z,1.430052e+09,Fuck Fame ðŸ”¥,CRYKMeFC4NTG641GN+wrkszgUSS8aHZ8YZQYAxyIUJ2IHv...,e05ec5709ac69271411c0a10a2591e72,0.036783
3970,M,26,So**a,18,8331,650,0,True,False,False,...,False,False,0,1,2015-04-19T10:57:58Z,1.429441e+09,NaN,CRYXj7mIkXaFHnZQydGTAJrGNQdgf8TsrlfQwzyDGvsP30...,2911dd4bf0b7bb147bf02d138deac91a,0.078022
3972,M,21,`Ca***.,5,6613,132,0,True,True,True,...,False,False,0,1,2015-04-26T16:41:01Z,1.430066e+09,snap: misscassy001. ...,CRYZcn9t2PBykkNtxDcS59y2suJEIWD7npE+8xUW27Md03...,beb2d6f1aad73d898044ac378ca68e39,0.019961
3984,M,26,So**a,20,6684,555,0,True,False,False,...,False,False,0,1,2015-04-08T15:19:13Z,1.428506e+09,NaN,CRYr+t+hkDQibq+L1C6+AmBDP7NfrpNO9Pct1OZKwiimWq...,d1fff0dd66910a3e4af0bb8d2fb418ad,0.083034
3986,M,23,Eni**n,8,8702,142,0,True,True,True,...,False,False,0,0,2015-04-06T15:47:15Z,1.428335e+09,ruhig shriebeðŸ˜‰. bissÃ¤ ni,CRYsH4q+r4fCkC8+leJqDdJQtbUNQGCyqLx36aDsEzC5b9...,e532a6060fe4e5902c66086d905a9d53,0.016318

In [14]:
df=df.drop(['pictureId','lastOnlineTime','userId'], axis=1)

In [15]:
df.shareProfileEnabled.value_counts()

1    3726
0     151
Name: shareProfileEnabled, dtype: int64

In [18]:
True==1

True

In [19]:
df.shareProfileEnabled.replace(1,True,inplace=True)
df.shareProfileEnabled.replace(0,False,inplace=True)

In [20]:
df.verified.value_counts()

0    3003
1     874
Name: verified, dtype: int64

In [21]:
df.verified.replace(1,True,inplace=True)
df.verified.replace(0,False,inplace=True)

In [22]:
df.columns

Index(['genderLooking', 'age', 'name', 'counts_pictures',
       'counts_profileVisits', 'counts_kisses', 'counts_fans',
       'flirtInterests_chat', 'flirtInterests_friends', 'flirtInterests_date',
       'country', 'city', 'location', 'isHighlighted', 'isMobile', 'isNew',
       'isOnline', 'isVip', 'lang_count', 'lang_fr', 'lang_en', 'lang_de',
       'lang_it', 'lang_es', 'lang_pt', 'verified', 'shareProfileEnabled',
       'lastOnlineDate', 'whazzup', 'Conversion Rate'],
      dtype='object')

In [23]:
df.isVip.value_counts()

0    3787
1      90
Name: isVip, dtype: int64

In [24]:
df.isHighlighted.replace(1,True,inplace=True)
df.isHighlighted.replace(0,False,inplace=True)

In [25]:
df.isMobile.replace(1,True,inplace=True)
df.isMobile.replace(0,False,inplace=True)

In [26]:
df.isNew.replace(1,True,inplace=True)
df.isNew.replace(0,False,inplace=True)

In [27]:
df.isOnline.replace(1,True,inplace=True)
df.isOnline.replace(0,False,inplace=True)

In [28]:
df.isVip.replace(1,True,inplace=True)
df.isVip.replace(0,False,inplace=True)

In [29]:
df['place'] = np.where(df.city.isnull(),df.location,df.city)

In [30]:
df.rename(columns={'Conversion Rate':'Conversion_Rate'},inplace=True)

In [31]:
df.name.value_counts()

Sarah                 32
Laura                 26
Julia                 23
Lisa                  20
Nadine                19
                      ..
schÃ¤nuðŸŒº                1
naida09                1
Tami27                 1
Angelica               1
Alvanita  Krasniqi     1
Name: name, Length: 2785, dtype: int64

In [32]:
df['name'] = df['name'].str.replace('\d+', '')

<ipython-input-32-c65f91b5507c>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['name'] = df['name'].str.replace('\d+', '')

# Encontrar el perfil ideal

In [33]:
df.name.value_counts().head(7)

Sarah     32
Laura     27
Julia     23
Lisa      20
Jenny     20
Nadine    20
Nicole    17
Name: name, dtype: int64

In [34]:
df.columns

Index(['genderLooking', 'age', 'name', 'counts_pictures',
       'counts_profileVisits', 'counts_kisses', 'counts_fans',
       'flirtInterests_chat', 'flirtInterests_friends', 'flirtInterests_date',
       'country', 'city', 'location', 'isHighlighted', 'isMobile', 'isNew',
       'isOnline', 'isVip', 'lang_count', 'lang_fr', 'lang_en', 'lang_de',
       'lang_it', 'lang_es', 'lang_pt', 'verified', 'shareProfileEnabled',
       'lastOnlineDate', 'whazzup', 'Conversion_Rate', 'place'],
      dtype='object')

In [35]:
df.counts_fans.value_counts()

0      2922
1       386
2       154
3        68
4        47
       ...
82        1
76        1
72        1
60        1
241       1
Name: counts_fans, Length: 80, dtype: int64

In [36]:
df.isnull().sum()

genderLooking                0
age                          0
name                         0
counts_pictures              0
counts_profileVisits         0
counts_kisses                0
counts_fans                  0
flirtInterests_chat          0
flirtInterests_friends       0
flirtInterests_date          0
country                      0
city                       275
location                    13
isHighlighted                0
isMobile                     0
isNew                        0
isOnline                     0
isVip                        0
lang_count                   0
lang_fr                      0
lang_en                      0
lang_de                      0
lang_it                      0
lang_es                      0
lang_pt                      0
verified                     0
shareProfileEnabled          0
lastOnlineDate               1
whazzup                   1524
Conversion_Rate             27
place                        0
dtype: int64

In [37]:
#se procede a sustituir todos los valores nulos de los counts rates por 0, ya que al dividir por 0 salen valores nulos

In [42]:
df[df.ConversionRateKV==0][['counts_kisses','counts_profileVisits','ConversionRateKV']]

      counts_kisses  counts_profileVisits  ConversionRateKV
79                0                    52               0.0
500               0                    12               0.0
518               0                 11292               0.0
547               0                 17441               0.0
557               0                    84               0.0
...             ...                   ...               ...
3941              0                    31               0.0
3942              0                     3               0.0
3943              0                    63               0.0
3944              0                    54               0.0
3945              0                    29               0.0

[152 rows x 3 columns]

In [54]:
df.ConversionRateKV.fillna(0,inplace=True)

In [45]:
df['ConversionRateFV'] = df['counts_fans']/df['counts_profileVisits']*100
df['ConversionRateFK'] = df['counts_fans']/df['counts_kisses']*100

In [46]:
df[df.ConversionRateFV.isnull()==True][['counts_kisses','counts_profileVisits','ConversionRateFV']]

      counts_kisses  counts_profileVisits  ConversionRateFV
1109              0                     0               NaN
1113              0                     0               NaN
3465              0                     0               NaN
3472              0                     0               NaN
3475              0                     0               NaN
3481              0                     0               NaN
3482              0                     0               NaN
3490              0                     0               NaN
3493              0                     0               NaN
3499              0                     0               NaN
3511              0                     0               NaN
3512              0                     0               NaN
3515              0                     0               NaN
3517              0                     0               NaN
3519              0                     0               NaN
3520              0                     0               NaN
3521              0                     0               NaN
3524              0                     0               NaN
3527              0                     0               NaN
3530              0                     0               NaN
3533              0                     0               NaN
3534              0                     0               NaN
3535              0                     0               NaN
3561              0                     0               NaN
3865              0                     0               NaN
3890              0                     0               NaN

In [47]:
df.ConversionRateFV.fillna(0,inplace=True)

In [48]:
df.rename(columns={'Conversion_Rate':'ConversionRateKV'},inplace=True)

In [49]:
df[df.ConversionRateFV.isnull()==True][['counts_kisses','counts_profileVisits','ConversionRateFV']]

Empty DataFrame
Columns: [counts_kisses, counts_profileVisits, ConversionRateFV]
Index: []

In [50]:
df.ConversionRateFK.isnull().sum()

170

In [51]:
df[df.ConversionRateFK.isnull()==True]['counts_kisses'].value_counts()

0    170
Name: counts_kisses, dtype: int64

In [52]:
df.ConversionRateFK.fillna(0,inplace=True)

In [55]:
df.to_csv('lovoodf.csv')